# Savora uses TheMealDB (https://www.themealdb.com) and Forkify (https://forkify-api.jonas.io)
# Both are completely free, public APIs that do not require any API key.
# This file exists only as documentation; you do not need to copy it to .env.
